body {
  background-image: url(../img/profile_pic.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
}


h2 {
  background-color: green ;
}

.img-profile {
  background-image: url(../img/profile_pic.jpg);
  padding: 300px 300px;
  margin: 100px;

  background-repeat: no-repeat;

}
