body {
	background-image: url(../img/blue_giant.jpg);
	background-size: cover;
}

h2 {
	text-decoration: underline;
	color: green;
}

#title {
	text-align: center;
	color: green;
}

#visitor {
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

.divider {
	height: 300px;
}

.objective {
	font-style: italic;
}

.resume {
	background-color: white;
	border: 1px solid black;
	margin: 0 auto;
	width: 70%;
}

.section {
	padding: 0 20px;
}

.credential {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.credential div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	height: 55px;
}

.credential-head {
	font-weight: bold;
	color: green;
}

.credential-name {
	font-weight: bold;
	width: 45%;
}

.credential div span:not(.credential-name) {
	width: 28%; 
}
