body {
	background-image: url(../img/blue_giant.jpg);
	background-size: cover;
}

h2 {
	text-decoration: underline;
}

#title {
	text-align: center;
}

.divider {
	height: 300px;
}

.objective {
	font-style: italic;
}

.resume {
	background-color: white;
	border: 1px solid black;
	margin: 0 auto;
	width: 70%;
}

.section {
	padding: 0 20px;
}

.credential {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%; }
